In [1]:
import pandas as pd
import numpy as np

## Salarios
 - [DETRAN](http://www.transparencia.sp.gov.br/buscaRemunera.html)

In [36]:
df = pd.read_csv('../data/servidores/remuneracao_all.txt', sep=';' ,encoding = 'ISO-8859-9', decimal=',')
detran = df[df['ORGÃO']=='DEPARTAMENTO ESTADUAL DE TRANSITO DETRAN']

# print('Janeiro de 2020 \n')

print('Total         = ',detran['REMUNERAÇÃO DO MÊS'].sum())

print('Total Liquido = ', detran['TOTAL LIQUÍDO (R$)'].sum(), '\n\n')


detran.describe()

Total         =  9339572.46
Total Liquido =  7299311.15

,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$)
count,2727.000000,2727.000000,2727.000000,2727.000000,2727.000000,2727.0,2727.000000
mean,3424.852387,1.887330,67.243913,27.962816,10.188896,0.0,2676.681757
std,1790.854365,138.401953,561.217972,230.816763,62.837661,0.0,1397.789878
min,0.000000,-1082.080000,-2190.880000,0.000000,-88.770000,0.0,0.000000
25%,2274.340000,0.000000,0.000000,0.000000,0.000000,0.0,1760.730000
50%,2469.960000,0.000000,0.000000,0.000000,0.000000,0.0,2099.310000
75%,4890.370000,0.000000,0.000000,0.000000,0.000000,0.0,3935.000000
max,16068.370000,7141.490000,13348.050000,3574.120000,1424.210000,0.0,19143.440000

In [38]:
detran['CARGO'].value_counts()

OFICIAL ADMINISTRATIVO            1422
AGENTE ESTADUAL DE TRANSITO I      565
OFICIAL ESTADUAL DE TRANSITO I     306
DIRETOR TECNICO I                  122
DIRETOR TECNICO II                 105
ASSISTENTE TECNICO DE TRANSITO      40
OUTROS VINCULOS                     34
SUPERVISOR                          33
NAO SERVIDOR                        27
GERENTE SETORIAL                    15
DIRETOR TECNICO III                 14
ASSESSOR DE GABINETE                14
SUPERINTENDENTE REGIONAL             8
EXECUTIVO PUBLICO                    6
DIRETOR SETORIAL                     6
AUXILIAR SERV.GERAIS                 2
DIRETOR VICE PRESIDENTE              1
DIRETOR PRESIDENTE                   1
MEDICO I                             1
ESCRIVAO POL.CLASSE ESPECIAL         1
ENGENHEIRO VI                        1
DELEGADO POLICIA 2A CLASSE           1
AUXILIAR DE SAUDE                    1
ENCARREGADO I                        1
Name: CARGO, dtype: int64

In [30]:
df = pd.read_csv('../data/servidores/remuneracao_0120.txt', sep=';' ,encoding = 'ISO-8859-9', decimal=',')
detran = df[df['ORGÃO']=='DEPARTAMENTO ESTADUAL DE TRANSITO DETRAN']

print('Janeiro de 2020 \n')

print('Total         = ',detran['REMUNERAÇÃO DO MÊS'].sum())

print('Total Liquido = ', detran['TOTAL LIQUÍDO (R$)'].sum(), '\n\n')


detran.describe()

Janeiro de 2020

Total         =  9769413.6
Total Liquido =  8569751.44

,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$)
count,2951.000000,2951.000000,2951.000000,2951.000000,2951.000000,2951.0,2951.000000
mean,3310.543409,358.888197,162.481545,17.570403,147.788143,0.0,2904.016076
std,1756.941813,904.795372,803.412642,178.606710,643.333231,0.0,2098.178540
min,0.000000,-278.370000,-4053.380000,0.000000,-230.550000,0.0,0.000000
25%,2274.340000,0.000000,0.000000,0.000000,0.000000,0.0,1780.100000
50%,2469.960000,0.000000,0.000000,0.000000,0.000000,0.0,2316.870000
75%,4890.370000,405.950000,0.000000,0.000000,151.000000,0.0,3790.615000
max,16068.370000,18746.420000,11536.480000,2814.630000,24060.930000,0.0,37941.600000

In [34]:
df = pd.read_csv('../data/servidores/remuneracao_0220.txt', sep=';' ,encoding = 'ISO-8859-9', decimal=',')
detran = df[df['ORGÃO']=='DEPARTAMENTO ESTADUAL DE TRANSITO DETRAN']

print('Fevereiro de 2020 \n')

print('Total         = ',detran['REMUNERAÇÃO DO MÊS'].sum())

print('Total Liquido = ', detran['TOTAL LIQUÍDO (R$)'].sum(), '\n\n')


detran.describe()

Fevereiro de 2020

Total         =  9725512.399999999
Total Liquido =  8608338.85

,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$)
count,2920.000000,2920.000000,2920.000000,2920.000000,2920.000000,2920.0,2920.000000
mean,3330.654932,301.387226,66.326298,19.182106,201.088034,0.0,2948.061250
std,1779.769596,961.766114,427.245345,197.378000,528.562819,0.0,2007.545058
min,0.000000,-2037.650000,-1210.940000,0.000000,-7141.490000,0.0,0.000000
25%,2274.340000,0.000000,0.000000,0.000000,0.000000,0.0,1780.100000
50%,2469.960000,0.000000,0.000000,0.000000,47.450000,0.0,2322.530000
75%,4890.370000,0.000000,0.000000,0.000000,241.050000,0.0,3848.650000
max,16068.370000,10143.000000,6230.710000,3404.950000,5796.000000,0.0,19882.030000

In [35]:
df = pd.read_csv('../data/servidores/remuneracao_0320.txt', sep=';' ,encoding = 'ISO-8859-9', decimal=',')
detran = df[df['ORGÃO']=='DEPARTAMENTO ESTADUAL DE TRANSITO DETRAN']

print('Marco de 2020 \n')

print('Total         = ',detran['REMUNERAÇÃO DO MÊS'].sum())

print('Total Liquido = ', detran['TOTAL LIQUÍDO (R$)'].sum(), '\n\n')


detran.describe()

Marco de 2020

Total         =  9824325.21
Total Liquido =  8117603.33

,REMUNERAÇÃO DO MÊS,FÉRIAS E 13º SALÁRIO,PAGAMENTOS EVENTUAIS,LICENÇA PRÊMIO INDENIZADA,ABONO PERMANÊNCIA & OUTRAS INDENIZAÇÕES,REDUTOR SALARIAL,TOTAL LIQUÍDO (R$)
count,3062.000000,3062.000000,3062.000000,3062.000000,3062.000000,3062.0,3062.000000
mean,3208.466757,146.160353,117.642022,6.406617,134.147175,0.0,2651.078815
std,1847.773055,572.944317,941.309257,138.958305,592.787074,0.0,1946.813662
min,0.000000,-822.000000,-1630.120000,0.000000,-514.260000,0.0,0.000000
25%,2274.340000,0.000000,0.000000,0.000000,0.000000,0.0,1680.567500
50%,2469.960000,0.000000,0.000000,0.000000,0.000000,0.0,2181.390000
75%,4890.370000,0.000000,0.000000,0.000000,168.600000,0.0,3429.670000
max,16068.370000,7335.560000,29407.150000,4671.280000,19047.150000,0.0,33462.530000

In [44]:
df = pd.read_csv('../data/servidores/remuneracao_0420.txt', sep=';' ,encoding = 'ISO-8859-9', decimal=',')
detran = df[df['ORGÃO']=='DEPARTAMENTO ESTADUAL DE TRANSITO DETRAN']

print('Abril de 2020 \n')

print('Total Servidores    = ',len(detran))
print('Remuneração Média   = ',round(detran['REMUNERAÇÃO DO MÊS'].mean()))
print('Remuneração Total   = ',round(detran['REMUNERAÇÃO DO MÊS'].sum()))
print('Remuneração Liquida = ', round(detran['TOTAL LIQUÍDO (R$)'].sum()), '\n\n')


# detran.describe()

Abril de 2020

Total Servidores    =  2988
Remuneração Média   =  3258
Remuneração Total   =  9735305.0
Remuneração Liquida =  7542025.0

In [64]:
detran['Remuneração Total'] = detran['REMUNERAÇÃO DO MÊS']
detran['Remuneração Média'] = detran['REMUNERAÇÃO DO MÊS']
detran['Quantidade'] = detran['CARGO']

/home/m/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/home/m/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/m/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [67]:
detran_cargos = detran.groupby(by='CARGO', as_index=False).agg({'Quantidade':'count', 'Remuneração Média':'mean', 'Remuneração Total':'sum'}).round().sort_values('Quantidade',ascending=False)

In [69]:
detran_cargos.to_excel('../data/servidores/detran_remunecacoes_cargos_abril_2020.xlsx', index=False)